body
{
	margin:0px;
	padding:0px;

}
#container
{
height:695px;
width:1365px;
//background-color:blue lighten-3;
//border:.5px solid;
//box-shadow:2px 2px 100px red inset;
}
#menu
{
	height:50px;
	width:1365px;
	//border:.5px solid;
	background-color:green;

}

#middle
{
	height:645px;
	width:1365px;
	
	//background-color:#303f9f;
	//border:.5px solid red;
}
#left
{
	height:644.7px;
	width:200px;
	//border:.5px solid;
	background-color:black;
	float:left;
	opacity:.8;
	border:.5px solid none;
}
.row
{
	height:62.20px;
	width:200px;
	border:.1px solid transparent;
	text-decoration:none;
	font-family:sans-serif;
	//border-radius:5%;
	text-align:center;
	//border-radius:none;
	border-bottom:2px solid red;
	//background-color:blue lighten-3;
//border:.5px solid;
box-shadow:4px 4px 150px lightgrey inset;

}
.row a 
{
	height:5px;
	width:100%;
	//color:white;
	//border:.3px solid;
	text-decoration:none;
	//background-color:yellow;
}
.row :hover
{
	height:12.5%;
	width:100%;
	//border:.2px solid;
	//text-decoration:none;
	//background-color:#f50057;
}
#right
{
	height:645px;
	width:1165px;
 //border:.5px solid;
	//background-color:#303f9f;
	float:left;
	opacity:.7;
}
.adddpt
{
	height:200px;
	width:1165px;
	//border:.5px solid;
	margin:0px auto;
	text-align:center;
	background-color:blue lighten-3;
//border:.5px solid;
box-shadow:2px 2px 80px red inset;
border-radius:20px;
}
.show
{
	height:415px;
	width:1165px;
	//border:.5px solid;
	background-color:lightblue;
//border:.5px solid;
box-shadow:4px 4px 150px yellow inset;
}