@media  (max-width: 768px) {
	         h1{font-size: 1.6rem;}
	         h2{font-size: 1.3rem;}
	         h6{font-size: 1.3rem;}
          
            .circular-icon
                {height: 60px;width: 60px;background: #fff;
              border-radius: 0px 0px 170px 170px;}

                 .search-icon span
                 {margin-left: 60%;}

                 .sidbar-nav
                 {width: 90%;overflow: hidden;}
                 header
                 {overflow: hidden;}

                 .text1
				{padding:0px 0px;}

				.text2
				{padding: 0px 0px;}
				.text
				{padding:0px 0px;}
					             

					              .box-section .img img
              { width: 100% !important;height: 200px;}



              .box-section .text 
            {width: 100% !important;height: 300px;background: #f7f8fb;
                  padding: 50px 10px;text-align: center;}


                  .text1 img
                 { height: 300px;}


                 .svg
					{position: absolute;left: 0;z-index: -100;height: 300px;}

					.svg1
					{position: absolute;right: 0;z-index: -100;
					height: 300px;margin-top: 120px;}

					.svg3
					{position: absolute;z-index: -100;}

					.phon-section-one
					{text-align: center;}

					.awesome-template-section
					{text-align: center;}


  }
					
	@media  (max-width: 500px) {		 


              .search-icon span
                 {margin-left: 50%;}

                .box-section .img img
              { width: 100% !important;height: 200px;}



              .box-section .text 
            {width: 100% !important;height: 300px;background: #f7f8fb;
                  padding: 50px 10px;text-align: center;}


                  .text1 img
                 { height: 300px;}


                 .svg
					{position: absolute;left: 0;z-index: -100;height: 300px;}

					.svg1
					{position: absolute;right: 0;z-index: -100;
					height: 300px;margin-top: 120px;}

					.svg3
					{position: absolute;z-index: -100;}

					.phon-section-one
					{text-align: center;}

					.awesome-template-section
					{text-align: center;}


}